apiVersion: v1
kind: ServiceAccount
metadata:
  name: secret-santa-controller
  namespace: secret-santa-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: secret-santa-manager-role
rules:
- apiGroups:
  - secrets.secret-santa.io
  resources:
  - secretsanta
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - secrets.secret-santa.io
  resources:
  - secretsanta/finalizers
  verbs:
  - update
- apiGroups:
  - secrets.secret-santa.io
  resources:
  - secretsanta/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: secret-santa-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: secret-santa-manager-role
subjects:
- kind: ServiceAccount
  name: secret-santa-controller
  namespace: secret-santa-system