version: '3'

tasks:
  test:
    desc: Run e2e tests only
    cmds:
      - go mod tidy
      - go test -v ./... -tags=e2e

  cleanup:
    desc: Cleanup e2e environment
    cmds:
      - kind delete cluster --name=secret-santa-e2e || echo "Cluster doesn't exist"